.container
  = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
  %h2 プロフィール
  = image_tag @profile.avatar
  = link_to '画像変更する！', edit_profile_path
  = current_user.username
  
  .nav-number
    .nav-number-item
      .number 100
      .label 'Posts'
    .nav-number-item
      .number 100
      .label 'Followers'
    .nav-number-item
      .number 100
      .label 'Following'
  .profile-images
    = image_tag 'sample.png', class: 'profile-image'
    = image_tag 'sample.png', class: 'profile-image'
    = image_tag 'sample.png', class: 'profile-image'
    = image_tag 'sample.png', class: 'profile-image'
    = image_tag 'sample.png', class: 'profile-image'
    = image_tag 'sample.png', class: 'profile-image'


    -# - if profile&.avatar&.attached?

    -# - else
    -#   'logo.png'
