.new-post-btn
  = link_to new_article_path do
    = icon("fas", "camera")
.infinite-container
  - @articles.each do |article|
    .article.infinite-post
      .article-poster-info
        = link_to account_path(id: article.user_id) do
          .avatar-style
            - if article.user.profile&.avatar&.attached?
              = image_tag article.user&.profile&.avatar
            - else
              = image_tag 'avatar1.png'
        .article-poster-info-text
          .article-username
            = article.user.username
          .article-post-date
            = I18n.l(article.created_at, format: :long)
      .slider
        - if article.images.attached?
          - article.images.each do |image|
            .article-image
              = link_to article_path(article) do
                = image_tag image
      .article-nav-icon
        - if user_signed_in?
          - if current_user.likes.exists?(article_id: article.id)
            .article_heart.active-heart{id: "active-heart#{article.id}", data: {article_id: article.id}}
              = icon("fas", "heart")
            .article_heart.hidden.inactive-heart{id: "inactive-heart#{article.id}", data: {article_id: article.id}}
              = icon("far", "heart")
          - else
            .article_heart.hidden.active-heart{id: "active-heart#{article.id}", data: {article_id: article.id}}
              = icon("fas", "heart")
            .article_heart.inactive-heart{id: "inactive-heart#{article.id}", data: {article_id: article.id}}
              = icon("far", "heart")
        = link_to article_path(article) do
          .article-comment-icon
            = icon("far", "comment-dots")
        =link_to "http://twitter.com/share?url=#{ url_for(action: :show,id: article.id,only_path: false) } &text=さらに向こうへPLUS ULTRA!! &hashtags=もうすぐ春ですね",{class:"logo-profile"},target: "_blank" do
          .article-share-icon
            = icon("fas", "share-alt")
      .article-content
        .article-username
          = article.user.username
        .article-content-text
          = article.content
      = javascript_pack_tag 'article'

  = paginate @articles
.page-load-status.has-text-centered
  %p.infinite-scroll-request Loading...


= javascript_pack_tag 'scroll'


.bottom-image
  = image_tag 'logo.jpg'
