.new-post-btn
  = link_to new_article_path do
    = icon("fas", "camera")
.infinite-container
  - @articles.each do |article|
    .article.infinite-post
      .article-poster-info
        = link_to account_path(id: article.user_id) do
          .avatar-style
            - if article.user.profile&.avatar&.attached?
              = image_tag article.user&.profile&.avatar
            - else
              = image_tag 'avatar1.png'
        .article-poster-info-text
          .article-username
            = article.user.username
          .article-post-date
            = I18n.l(article.created_at, format: :long)
      .slider
        - if article.images.attached?
          - article.images.each do |image|
            .article-image
              = link_to article_path(article) do
                = image_tag image
      .article-nav-icon
        = render 'icon',article: article
      .article-content
        .article-username
          = article.user.username
        .article-content-text
          = article.content
      = javascript_pack_tag 'article'

  = paginate @articles
.page-load-status.has-text-centered
  %p.infinite-scroll-request Loading...


= javascript_pack_tag 'scroll'


.bottom-image
  = image_tag 'logo.jpg'
