%h1 Articles#index
%p Find me in app/views/articles/index.html.erb

= link_to '新規投稿' , new_article_path

- @articles.each do |article|
  = image_tag article.user.profile.avatar
  = article.user.username
  = I18n.l(article.created_at, format: :long)
  = link_to article_path(article) do
    - if article.images.attached?
      - article.images.each do |image|
        = image_tag image
  - if user_signed_in?
    .article_heart.hidden.active-heart{id: "active-heart#{article.id}", data: {article_id: article.id}}
      = icon("fas", "heart", class: "logo-profile")
    .article_heart.inactive-heart{id: "inactive-heart#{article.id}", data: {article_id: article.id}}
      = icon("far", "heart", class: "logo-profile")
  = icon("far", "comment-dots", class: "logo-profile")
  =link_to "http://twitter.com/share?url=#{ url_for(action: :show,id: article.id,only_path: false) } &text=さらに向こうへPLUS ULTRA!! &hashtags=もうすぐ春ですね",{class:"logo-profile"},target: "_blank" do
    = icon("fas", "share-alt", class: "logo-profile")

  %p Jasmine and 12,000 other liked your post
  = article.user.username
  = article.content

= javascript_pack_tag 'article'

-# - if @article.images.attached?
-#   = image_tag @article.images
-# - @articles.each do |article|
-#   = image_tag article.images.attach(params[:images])
