%h2 投稿画面

= form_with(model: @article, url: articles_path, method: 'post', local: true) do |f|
  %div
    = f.label :images, '画像（複数選択できるよ！)'
  %div
    = f.file_field :images, multiple: true
  %div
    = f.label :content, '文章'
  %div
    = f.text_field :content
  = f.submit '保存'
