#article-show{data: {id: @article.id}}
= @article.content
%h2 Article show

%h2 コメント

.comments-container
.btn-secondary.show-comment-form
  コメントを追加
.comment-text-area.hidden
  = text_area_tag :comment_content, ''
  .btn-secondary.add-comment-button
    コメントを追加


.swiper-container
  .swiper-wrapper
    .swiper-slide
      = image_tag 'sample.png'
    .swiper-slide
      = image_tag 'logo2.png'
    .swiper-slide
      = image_tag 'yuki.jpg'
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
= javascript_pack_tag 'comment'
