#article-show{data: {id: @article.id}}
.article.article-show
  .slider
    - if @article.images.attached?
      - @article.images.each do |image|
        .article-image
          = link_to article_path(@article) do
            = image_tag image
  .article-nav-icon
    = render 'icon',article: @article
    = link_to article_path(@article),method: 'delete',class: 'trash-ml', data: { confirm: '本当に削除してもよろしいですか？' }  do
      - if current_user == @article.user
        .article-delete-icon
          = icon("fas", "trash")
  .article-content.article-show-content
    .article-show-content-left
      = link_to account_path(id: @article.user.id) do
        - if @article.user.profile&.avatar&.attached?
          = image_tag @article.user.profile&.avatar
        - else
          = image_tag 'avatar1.png'
    .article-show-content-right
      .article-username
        = link_to account_path(id: @article.user.id) do
          = @article.user.username
      .article-content-text
        = @article.content

= javascript_pack_tag 'article'

.comments-container
  .section-title.comment-title
    Comment
  -if user_signed_in? && current_user.profile&.avatar&.attached?
    .btn-secondary.show-comment-form
      コメントを追加
  .comment-text-area.hidden
    = text_area_tag :comment_content, ''
    .btn-secondary.add-comment-button
      コメントを追加



= javascript_pack_tag 'comment'
