.section-title.postlist-title Post list
- @articles.each do |article|
  .article
    .article-poster-info
      = link_to account_path(id: article.user_id) do
        .avatar-style
          - if article.user.profile&.avatar&.attached?
            = image_tag article.user&.profile&.avatar
          - else
            = image_tag 'avatar1.png'
      .article-poster-info-text
        .article-username
          = link_to account_path(id: article.user.id) do
            = article.user.username
        .article-post-date
          = I18n.l(article.created_at, format: :long)
    .slider
      - if article.images.attached?
        - article.images.each do |image|
          .article-image
            = link_to article_path(article) do
              = image_tag image
    .article-nav-icon
      = render 'articles/icon',article: article
      = link_to article_path(article),method: 'delete',class: 'trash-ml', data: { confirm: '本当に削除してもよろしいですか？' }  do
        - if current_user == article.user
          .article-delete-icon
            = icon("fas", "trash")
    .article-content
      .article-username
        = article.user.username
      .article-content-text
        = article.content
.bottom-image
  = image_tag 'logo.jpg'
= javascript_pack_tag 'article'
