.container#account-show{data: {id: @user.id}}
  .section-title.account-title Account
  .profile-avatar-image
    - if @user.profile&.avatar&.attached?
      = image_tag @user.profile&.avatar
    - else
      = image_tag 'avatar1.png'
  .profile-username
    = @user.username
  .follow-btn.btn-primary.hidden
    フォロー
  .unfollow-btn.btn-primary.hidden
    フォロー解除
  .nav-number
    = link_to list_account_path(id: @user.id) do
      .nav-number-item
        .number-posts
          = "#{@user.articles.count} 投稿"
    = link_to account_followers_path(account_id: @user.id) do
      .nav-number-item
        .number-followers
          = "#{@user.followers.count} フォロワー"
    = link_to account_followings_path(account_id: @user.id) do
      .nav-number-item
        .number-followings
          = "#{@user.followings.count} フォロー"
  .profile-images
    = image_tag 'logo (1).png'


= javascript_pack_tag 'follow'
