.devise-bg-image
  .devise-container
    %h2 新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "users/shared/error_messages", resource: resource
      .field
        = f.label :username
        %br/
        = f.text_field :username, autofocus: true, autocomplete: "username"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .actions
        = f.submit "登録する"
    .text-login
      = render "users/shared/links"
